In [196]:
import pandas as pd

#DBLP-ACM_perfectMapping.csv
#data = pd.read_csv('./data/Matched_Entities_Block_jaccard_title.csv')
data = pd.read_csv('./data/Matched_Entities_DF_jaccard_title.csv')

# Sort the DataFrame by the first column
sorted_df = data.sort_values(by=data.columns[0])

In [197]:
sorted_df.head()

                                  idDBLP   idACM  Similarity
1851                conf/sigmod/AbadiC02  564770    1.000000
2126  conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855    1.000000
2242         conf/sigmod/AbiteboulBCMM03  872821    1.000000
137            conf/sigmod/AbiteboulCM95  223854    0.714286
1062            conf/sigmod/AboulnagaC99  304198    1.000000

In [198]:
len(sorted_df)

2296

In [199]:
threshold = 0.78

In [200]:
filtered_data = sorted_df[sorted_df['Similarity'] >= threshold]

In [201]:
filtered_data

                                  idDBLP   idACM  Similarity
1851                conf/sigmod/AbadiC02  564770         1.0
2126  conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855         1.0
2242         conf/sigmod/AbiteboulBCMM03  872821         1.0
1062            conf/sigmod/AboulnagaC99  304198         1.0
98              conf/sigmod/AcharyaAFZ95  223816         0.8
...                                  ...     ...         ...
2265          journals/vldb/VerykiosME03  775455         1.0
1644               journals/vldb/WangW01  765508         1.0
160               journals/vldb/WhiteD95  615238         1.0
2258               journals/vldb/YangW03  950494         1.0
898            journals/vldb/ZezulaSAR98  765541         1.0

[2125 rows x 3 columns]

In [202]:
len(filtered_data)

2125

In [203]:
data_mapping = pd.read_csv('./data/DBLP-ACM_perfectMapping.csv')

In [204]:
data_mapping_sorted = data_mapping.sort_values(by=data.columns[0])

In [205]:
data_mapping_sorted.head()

                                 idDBLP   idACM
765                conf/sigmod/AbadiC02  564770
638  conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855
630         conf/sigmod/AbiteboulBCMM03  872821
468           conf/sigmod/AbiteboulCM95  223854
202            conf/sigmod/AboulnagaC99  304198

In [206]:
len(data_mapping_sorted)

2224

In [207]:
compare_columns = ['idDBLP', 'idACM']

In [208]:
merged_df = pd.merge(filtered_data, data_mapping_sorted, on=compare_columns, how='inner')

In [209]:
merged_df

                                  idDBLP   idACM  Similarity
0                   conf/sigmod/AbadiC02  564770         1.0
1     conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855         1.0
2            conf/sigmod/AbiteboulBCMM03  872821         1.0
3               conf/sigmod/AboulnagaC99  304198         1.0
4               conf/sigmod/AcharyaAFZ95  223816         0.8
...                                  ...     ...         ...
1858          journals/vldb/VerykiosME03  775455         1.0
1859               journals/vldb/WangW01  765508         1.0
1860              journals/vldb/WhiteD95  615238         1.0
1861               journals/vldb/YangW03  950494         1.0
1862           journals/vldb/ZezulaSAR98  765541         1.0

[1863 rows x 3 columns]

In [210]:
tp = len(merged_df)
fp = len(filtered_data) - len(merged_df)
fn = len(data_mapping_sorted) - len(merged_df)

In [211]:
precision = tp/(tp+fp)
recall = tp/(tp+fn)
f_one = 2*((precision*recall)/(precision+recall))

In [212]:
print('The threshold for the Jaccard-Similarity in Title was ' + str(threshold))
print('The precision is: ' + str(precision))
print('The recall is: ' + str(recall))
print('The F1-score is: ' + str(f_one))

The threshold for the Jaccard-Similarity in Title was 0.78
The precision is: 0.8767058823529412
The recall is: 0.8376798561151079
The F1-score is: 0.8567486778569786

In [ ]:
# on all data
'''The threshold for the Jaccard-Similarity in Title was 0.78
The precision is: 0.8767058823529412
The recall is: 0.8376798561151079
The F1-score is: 0.8567486778569786'''

# on block data
'''The threshold for the Jaccard-Similarity in Title was 0.78
The precision is: 0.8837109876015391
The recall is: 0.9294064748201439
The F1-score is: 0.905982905982906'''

In [ ]:
# if the result is fine
column_to_drop = 'Similarity'
df_modified = merged_df.drop(column_to_drop, axis=1)
df_modified.to_csv('Matched_Entities.csv', index=False)