In [37]:
import pandas as pd
import string
from data_aquisition import check_download_extract
from data_preparation import DataExtractor
from data_matching import create_year_blocks
import nltk
import pandas as pd
import string

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [49]:
year_ranges = [(1995, 1996), (1997, 1998), (1999, 2000), (2001,2002), (2003,2004)]

df_dblp_path = pd.read_csv('data/DBLP_1995_2004.csv')
df_acm_path = pd.read_csv('data/ACM_1995_2004.csv')

#df_dblp_path = pd.read_csv('data/DBLP2.csv', engine='python')
#df_acm_path = pd.read_csv('data/ACM.csv', engine='python')

# get blocks as dictionary
result_blocks_dblp = create_year_blocks(df_dblp_path, year_ranges)
result_blocks_acm = create_year_blocks(df_acm_path, year_ranges)

print(result_blocks_dblp)
print(result_blocks_acm)
    
print("BLOCKS WERE CREATED AND SIMILARITY WILL BE CALCULATED")

[('Block_1',                            id  \
739  5390b52620f70186a0f01fe3
752  5390b5df20f70186a0f09da7
753  5390b5df20f70186a0f09db0
754  5390b5df20f70186a0f09db2
755  5390b5df20f70186a0f09db8
..                        ...
889  5390b72e20f70186a0f222f6
890  5390b7fe20f70186a0f260af
891  5390b7fe20f70186a0f260cb
915  5390b9d520f70186a0f30cd2
886  539087d920f70186a0d604f5

                                                 title  \
739  Magic factoring of closure programs (extended ...
752                    OODB indexing by class-division
753  Recovery protocols for shared memory database ...
754      The handwritten trie: indexing electronic ink
755        The merge/purge problem for large databases
..                                                 ...
889                                  ACM SIGMOD Record
890  Accessing information from globally distribute...
891  Relational expressive power of constraint quer...
915  Geographic database systems: issues and resear...
886  OLAP, relational, and multidimensional databas...

                                               authors  year  \
739                                  ['Peter T. Wood']  1995
752       ['Sridhar Ramaswamy', 'Paris C. Kanellakis']  1995
753          ['Lory D. Molesky', 'Krithi Ramamritham']  1995
754  ['Walid Aref', 'Daniel Barbará', 'Padmavathi V...  1995
755   ['Mauricio A. Hernández', 'Salvatore J. Stolfo']  1995
..                                                 ...   ...
889  ['T. H. Merrett', 'H. V. Jagadish', 'Inderpal ...  1996
890                                  ['Alfred V. Aho']  1996
891  ['Michael Benedikt', 'Guozhu Dong', 'Leonid Li...  1996
915                               ['Max J. Egenhofer']  1996
886                                 ['George Colliat']  1996

                                                 venue
739  PODS '95 Proceedings of the fourteenth ACM SIG...
752  SIGMOD '95 Proceedings of the 1995 ACM SIGMOD ...
753  SIGMOD '95 Proceedings of the 1995 ACM SIGMOD ...
754  SIGMOD '95 Proceedings of the 1995 ACM SIGMOD ...
755  SIGMOD '95 Proceedings of the 1995 ACM SIGMOD ...
..                                                 ...
889                                  ACM SIGMOD Record
890  PODS '96 Proceedings of the fifteenth ACM SIGA...
891  PODS '96 Proceedings of the fifteenth ACM SIGA...
915  PODS '96 Proceedings of the fifteenth ACM SIGA...
886                                  ACM SIGMOD Record

[512 rows x 5 columns]), ('Block_2',                             id  \
1010  5390bda020f70186a0f47b1f
2405  53908a9620f70186a0da4ee6
1008  5390bda020f70186a0f47b7e
1007  5390bda020f70186a0f47b49
1006  5390bda020f70186a0f47b6f
...                        ...
2537  53908b4920f70186a0dbabc7
2543  53908b4920f70186a0dbabd5
2539  53908b4920f70186a0dbab52
2530  53908b4920f70186a0dbab63
2540  53908b4920f70186a0dbab5a

                                                  title  \
1010  The WHIPS prototype for data warehouse creatio...
2405  Using Probabilistic Information in Data Integr...
1008  SEMCOG: an object-based image retrieval system...
1007                             The InfoSleuth Project
1006      Languages for multi-database interoperability
...                                                 ...
2537                                    Guest Editorial
2543  The OODB path-method generator (PMG) using acc...
2539  The VLDB Journal — The International Journal o...
2530  The VLDB Journal — The International Journal o...
2540                                       Introduction

                                                authors  year  \
1010  ['Wilburt J. Labio', 'Yue Zhuge', 'Janet L. Wi...  1997
2405  ['Daniela Florescu', 'Daphne Koller', 'Alon Y....  1997
1008  ['Wen-Syan Li', 'K. Selçuk Candan', 'Kyoji Hir...  1997
1007  ['R. J. Bayardo', 'Jr.', 'W. Bohrer', 'R. Bric...  1997
1006  ['Frédéric Gingras', 'Laks V. S. Lakshmanan', ...  1997
...                                                 ...   ...
2537                                 ['Matthias Jarke']  1998
2543  ['Ashish Mehta', 'James Geller', 'Yehoshua Per...  1998
2539                                                NaN  1998
2530                                                NaN  1998
2540       ['M. Tamer Özsu', 'Stavros Christodoulakis']  1998

                                                  venue
1010  SIGMOD '97 Proceedings of the 1997 ACM SIGMOD ...
2405  VLDB '97 Proceedings of the 23rd International...
1008  SIGMOD '97 Proceedings of the 1997 ACM SIGMOD ...
1007  SIGMOD '97 Proceedings of the 1997 ACM SIGMOD ...
1006  SIGMOD '97 Proceedings of the 1997 ACM SIGMOD ...
...                                                 ...
2537  The VLDB Journal — The International Journal o...
2543  The VLDB Journal — The International Journal o...
2539  The VLDB Journal — The International Journal o...
2530  The VLDB Journal — The International Journal o...
2540  The VLDB Journal — The International Journal o...

[509 rows x 5 columns]), ('Block_3',                             id  \
1547  5390880220f70186a0d77f06
1546  5390880220f70186a0d77f8f
2139  53908a7420f70186a0da4684
1543  5390880220f70186a0d77f7f
1260  539087f320f70186a0d6f6db
...                        ...
1460  5390880220f70186a0d75efd
1459  539087fe20f70186a0d75de8
1458  5390880220f70186a0d75f02
1435  539087fe20f70186a0d75e5c
1453  558f36c30cf2af9ee80ebbdc

                                                  title  \
1547  Practical lessons in supporting large-scale co...
1546         FinTime: a financial time series benchmark
2139  Optimal Grid-Clustering: Towards Breaking the ...
1543                                      Diluting ACID
1260  Window-accumulated subsequence matching proble...
...                                                 ...
1460  Towards self-tuning data placement in parallel...
1459          Spatial join selectivity using power laws
1458  XTRACT: a system for extracting document type ...
1435         Selectively estimation for Boolean queries
1453  Finding generalized projected clusters in high...

                                                authors  year  \
1547                ['Ron Musick', 'Terence Critchlow']  1999
1546       ['Kaippallimalil J. Jacob', 'Dennis Shasha']  1999
2139          ['Alexander Hinneburg', 'Daniel A. Keim']  1999
1543  ['Tim Kempster', 'Colin Stirling', 'Peter Than...  1999
1260  ['Luc Boasson', 'Patrick Cegielski', 'Irène Gu...  1999
...                                                 ...   ...
1460  ['Mong Li Lee', 'Masaru Kitsuregawa', 'Beng Ch...  2000
1459  ['Christos Faloutsos', 'Bernhard Seeger', 'Agm...  2000
1458  ['Minos Garofalakis', 'Aristides Gionis', 'Raj...  2000
1435  ['Zhiyuan Chen', 'Nick Koudas', 'Flip Korn', '...  2000
1453              ['Charu C. Aggarwal', 'Philip S. Yu']  2000

                                                  venue
1547                                  ACM SIGMOD Record
1546                                  ACM SIGMOD Record
2139  VLDB '99 Proceedings of the 25th International...
1543                                  ACM SIGMOD Record
1260  PODS '99 Proceedings of the eighteenth ACM SIG...
...                                                 ...
1460  SIGMOD '00 Proceedings of the 2000 ACM SIGMOD ...
1459  SIGMOD '00 Proceedings of the 2000 ACM SIGMOD ...
1458  SIGMOD '00 Proceedings of the 2000 ACM SIGMOD ...
1435  PODS '00 Proceedings of the nineteenth ACM SIG...
1453  SIGMOD '00 Proceedings of the 2000 ACM SIGMOD ...

[529 rows x 5 columns]), ('Block_4',                             id  \
1685  5390881220f70186a0d7e371
1686  5390881220f70186a0d7e36b
1687  5390881220f70186a0d7e345
1688  5390878720f70186a0d346e3
1689  5390881220f70186a0d7e383
...                        ...
1796  5390882d20f70186a0d8daba
1795  5390882d20f70186a0d8dabd
1794  5390878a20f70186a0d38940
1793  5390882d20f70186a0d8dab8
1792  5390882d20f70186a0d8dabb

                                                  title  \
1685                  Standard for multimedia databases
1686  Models and languages for describing and discov...
1687                           Semantic B2B integration
1688                Online query processing: a tutorial
1689  Application servers (panel session): born-agai...
...                                                 ...
1796  Mining database structure; or, how to build a ...
1795                              Approximate XML joins
1794  Efficient k-NN search on vertically decomposed...
1793              A scalable hash ripple join algorithm
1792  Exploiting statistics on query expressions for...

                                                authors  year  \
1685                                  ['John R. Smith']  2001
1686                ['Fabio Casati', 'Ming-Chien Shan']  2001
1687                              ['Christoph Bussler']  2001
1688         ['Peter J. Haas', 'Joseph M. Hellerstein']  2001
1689  ['C. Mohan', 'Larry Cable', 'Matthieu Devin', ...  2001
...                                                 ...   ...
1796  ['Tamraparni Dasu', 'Theodore Johnson', 'S. Mu...  2002
1795  ['Sudipto Guha', 'H. V. Jagadish', 'Nick Kouda...  2002
1794  ['Arjen P. de Vries', 'Nikos Mamoulis', 'Niels...  2002
1793  ['Gang Luo', 'Curt J. Ellmann', 'Peter J. Haas...  2002
1792             ['Nicolas Bruno', 'Surajit Chaudhuri']  2002

                                                  venue
1685  SIGMOD '01 Proceedings of the 2001 ACM SIGMOD ...
1686  SIGMOD '01 Proceedings of the 2001 ACM SIGMOD ...
1687  SIGMOD '01 Proceedings of the 2001 ACM SIGMOD ...
1688  SIGMOD '01 Proceedings of the 2001 ACM SIGMOD ...
1689  SIGMOD '01 Proceedings of the 2001 ACM SIGMOD ...
...                                                 ...
1796  Proceedings of the 2002 ACM SIGMOD internation...
1795  Proceedings of the 2002 ACM SIGMOD internation...
1794  Proceedings of the 2002 ACM SIGMOD internation...
1793  Proceedings of the 2002 ACM SIGMOD internation...
1792  Proceedings of the 2002 ACM SIGMOD internation...

[526 rows x 5 columns]), ('Block_5',                             id  \
2767  53908d6520f70186a0dd1a57
2766  53908d6520f70186a0dd1a4d
2765  53908d6520f70186a0dd1a4a
2764  53908d6520f70186a0dd1a46
2763  53908d6520f70186a0dd1a44
...                        ...
519   53909f8c20f70186a0e40193
520   53909f8c20f70186a0e401a2
521   53909f8c20f70186a0e40179
263   5390981d20f70186a0e049be
2901  539096cb20f70186a0df796e

                                                  title  \
2767        TelegraphCQ: continuous dataflow processing
2766                       Data grid management systems
2765                   XQuery: a query language for XML
2764            Aurora: a data stream management system
2763                                  The Lowell report
...                                                 ...
519   Bloom histogram: path selectivity estimation f...
520        Limiting disclosure in hippocratic databases
521                            ROX: relational over XML
263   Power-conserving computation of order-statisti...
2901  Querying high-dimensional data in single-dimen...

                                                authors  year  \
2767  ['Sirish Chandrasekaran', 'Owen Cooper', 'Amol...  2003
2766            ['Arun Jagatheesan', 'Arcot Rajasekar']  2003
2765                                 ['Don Chamberlin']  2003
2764  ['D. Abadi', 'D. Carney', 'U. Çetintemel', 'M....  2003
2763  ['Jim Gray', 'Hans Schek', 'Michael Stonebrake...  2003
...                                                 ...   ...
519   ['Wei Wang', 'Haifeng Jiang', 'Hongjun Lu', 'J...  2004
520   ['Kristen LeFevre', 'Rakesh Agrawal', 'Vuk Erc...  2004
521   ['Alan Halverson', 'Vanja Josifovski', 'Guy Lo...  2004
263          ['Michael B. Greenwald', 'Sanjeev Khanna']  2004
2901  ['Cui Yu', 'Stéphane Bressan', 'Beng Chin Ooi'...  2004

                                                  venue
2767  Proceedings of the 2003 ACM SIGMOD internation...
2766  Proceedings of the 2003 ACM SIGMOD internation...
2765  Proceedings of the 2003 ACM SIGMOD internation...
2764  Proceedings of the 2003 ACM SIGMOD internation...
2763  Proceedings of the 2003 ACM SIGMOD internation...
...                                                 ...
519   VLDB '04 Proceedings of the Thirtieth internat...
520   VLDB '04 Proceedings of the Thirtieth internat...
521   VLDB '04 Proceedings of the Thirtieth internat...
263   PODS '04 Proceedings of the twenty-third ACM S...
2901  The VLDB Journal — The International Journal o...

[826 rows x 5 columns])]
[('Block_1',                             id  \
486   53e9a301b7602d9702c098fe
430   53e99d6bb7602d97026235a8
423   53e99c6eb7602d9702521d3c
2002  573696106e3b12023e523505
2004  53e9b2eab7602d9703da7726
...                        ...
162   53e9ab89b7602d9703535b9b
136   53e9b2e0b7602d9703d9658a
2061  53e9ac28b7602d97035e8af6
2092  53e99833b7602d9702058c0e
1471  53e9a060b7602d9702946a7c

                                                  title  \
486   OS Support for VLDBs: Unix Enhancements for th...
430        Managing Video Data in a Mobile Environment.
423   Data Management Research at The MITRE Corporat...
2002  Upsizing from File Server to Clent Server Arch...
2004   Enterprise Transaction Processing on Windows NT.
...                                                 ...
162    To Table or Not to Table: a Hypertabular Answer.
136   OLAP, Relational, and Multidimensional Databas...
2061    Query Processing and Optimization in Oracle Rdb
2092  The Design and Implementation of K: A High-Lev...
1471  Loading the Data Warehouse Across Various Para...

                                                authors  year  \
486               ['John Catozzi', 'Sorana Rabinovici']  1995
430   ['Rafael Alonso', 'Yuh-Lin Chang', 'Liviu Ifto...  1995
423   ['Arnon Rosenthal', 'Leonard J. Seligman', 'Ca...  1995
2002                                ['The Access Team']  1995
2004                                      ['Greg Hope']  1995
...                                                 ...   ...
162            ['Giuseppe Santucci', 'Laura Tarantino']  1996
136                                  ['George Colliat']  1996
2061        ['Gennady Antoshenkov', 'Mohamed Ziauddin']  1996
2092  ['Yuh-Ming Shyy', 'Javier Arroyo', 'Stanley Y....  1996
1471                              ['Vijay V. Raghavan']  1996

                  venue
486                VLDB
430       SIGMOD Record
423       SIGMOD Record
2002  SIGMOD Conference
2004  SIGMOD Conference
...                 ...
162       SIGMOD Record
136       SIGMOD Record
2061            VLDB J.
2092            VLDB J.
1471               VLDB

[324 rows x 5 columns]), ('Block_2',                             id  \
1196  53e9ba60b7602d970467ded7
1552  53e99960b7602d97021a2437
1919  53e99905b7602d970213ff8c
1914  53e9b1ddb7602d9703c6df22
1195  53e9bad7b7602d9704707a21
...                        ...
885   53e9a0dfb7602d97029cc300
247   53e9989bb7602d97020d0f1a
1251  53e9a1aeb7602d9702aa239b
298   53e9aab0b7602d970342acb8
117   53e99809b7602d970201f928

                                                  title  \
1196  Using Extended Feature Objects for Partial Sim...
1552  A Generic Approach to Bulk Loading Multidimens...
1919         Infering Structure in Semistructured Data.
1914  Spatial Joins Using R-trees: Breadth-First Tra...
1195  Concurrency Control in Hierarchical Multidatab...
...                                                 ...
885   Applications of the JAVA Programming Language ...
247              Computing Iceberg Queries Efficiently.
1251  Efficient and Transparent Application Recovery...
298                Reminiscences on Influential Papers.
117                        Guest Editor's Introduction.

                                                authors  year  \
1196  ['Stefan Berchtold', 'Daniel A. Keim', 'Hans-P...  1997
1552  ['Jochen Van den Bercken', 'Bernhard Seeger', ...  1997
1919  ['Svetlozar Nestorov', 'Serge Abiteboul', 'Raj...  1997
1914  ['Yun-Wu Huang', 'Ning Jing', 'Elke A. Rundens...  1997
1195  ['Sharad Mehrotra', 'Henry F. Korth', 'Abraham...  1997
...                                                 ...   ...
885            ['Bradley F. Burton', 'V. Wiktor Marek']  1998
247   ['Min Fang', 'Narayanan Shivakumar', 'Hector G...  1998
1251               ['David B. Lomet', 'Gerhard Weikum']  1998
298   ['Richard T. Snodgrass', 'Laura M. Haas', 'Alb...  1998
117                                    ['Asuman Dogac']  1998

                  venue
1196            VLDB J.
1552               VLDB
1919      SIGMOD Record
1914               VLDB
1195            VLDB J.
...                 ...
885       SIGMOD Record
247                VLDB
1251  SIGMOD Conference
298       SIGMOD Record
117       SIGMOD Record

[291 rows x 5 columns]), ('Block_3',                             id  \
1     53e9ab20b7602d97034a8f2b
998   53e9bd45b7602d97049d2194
1868  53e9a682b7602d9702fb5b38
1455  53e999adb7602d97021ef9cb
938   53e9a711b7602d970304a66d
...                        ...
409   53e99a85b7602d97022f6d57
875   53e9af68b7602d97039acd70
40    53e99f86b7602d9702857e18
397   53e9a1a1b7602d9702a940fe
273   53e99aacb7602d9702325e7d

                                                  title  \
1     Engineering Federated Information Systems: Rep...
998   Aggregation Algorithms for Very Large Compress...
1868  The New Locking, Logging, and Recovery Archite...
1455           Networked Data Management Design Points.
938   Datawarehousing Has More Colours Than Just Bla...
...                                                 ...
409                            SIGMOD Sister Societies.
875   Using Quantitative Information for Efficient A...
40    Evolution and Change in Data Management - Issu...
397           A Vision of Management of Complex Models.
273                                     Editor's Notes.

                                                authors  year          venue
1     ['Stefan Conrad', 'Wilhelm Hasselbring', 'Uwe ...  1999  SIGMOD Record
998   ['Jianzhong Li', 'Doron Rotem', 'Jaideep Sriva...  1999           VLDB
1868                                 ['David Campbell']  1999           VLDB
1455                              ['James R. Hamilton']  1999           VLDB
938                 ['Thomas Zurek', 'Markus Sinnwell']  1999           VLDB
...                                                 ...   ...            ...
409   ['Stefano Ceri', 'Leonid A. Kalinichenko', 'Ma...  2000  SIGMOD Record
875   ['Bruno Pôssas', 'Wagner Meira Jr.', 'Márcio d...  2000  SIGMOD Record
40    ['John F. Roddick', 'Lina Al-Jadir', 'Leopoldo...  2000  SIGMOD Record
397   ['Philip A. Bernstein', 'Alon Y. Halevy', 'Rac...  2000  SIGMOD Record
273                             ['Michael J. Franklin']  2000  SIGMOD Record

[484 rows x 5 columns]), ('Block_4',                             id  \
346   53e9a7d5b7602d9703113bf6
344   53e9a447b7602d9702d613dd
191   53e9b3a3b7602d9703e857da
188   54890d2445ce471f90a8bb98
2087  53e9ab2bb7602d97034b6b2c
...                        ...
533   53e99a26b7602d970227e9da
2023  53e9b023b7602d9703a7b2e8
534   53e9a317b7602d9702c2285c
537   53e99858b7602d97020934a5
1329  53e9b4c3b7602d9703fe1311

                                                  title  \
346                Multics Relational Data Store (MRDS)
344   TSQL2 Temporal Query Language / TSQL2 and SQL3...
191   DB2 Spatial Extender - Spatial data within the...
188                Reminiscences on Influential Papers.
2087  An architecture to support scalable online per...
...                                                 ...
533   A Study on the Management of Semantic Transact...
2023  Distributed Search over the Hidden Web: Hierar...
534                     Why I Like Working in Academia.
537                                     Editor's Notes.
1329  Data page layouts for relational databases on ...

                                                authors  year  \
346             ['James A. Weeldreyer', 'Oris Friesen']  2001

In [65]:
import nltk
import string

def tokenize(text):
    if isinstance(text, str):
        # Remove brackets and points
        text = text.translate(str.maketrans("", "", string.punctuation))
        
        # Tokenize and convert to uppercase
        return set(nltk.word_tokenize(text.upper()))
    else:
        return set()

In [79]:
def jaccard_similarity(list1, list2):
    s1 = set(map(str.upper, list1))
    s2 = set(map(str.upper, list2))
    
    intersection_size = len(s1.intersection(s2))
    union_size = len(s1.union(s2))
    
    # Check if the union is empty to avoid division by zero
    if union_size != 0:
        return float(intersection_size / union_size)
    else:
        # Handle the case where both sets are empty
        return 0.0

In [43]:
df_dblp_path = pd.read_csv('data/DBLP_1995_2004.csv')
df_acm_path = pd.read_csv('data/ACM_1995_2004.csv')

def find_matches(df1, df2):
    for idx1, row1 in df1.iterrows():
        for idx2, row2 in df2.iterrows():
            
            if row1['title'] == row2['title']:
                if row1['year'] == row2['year']:
                    sim_auth = jaccard_similarity(tokenize(row1['authors']), tokenize(row2['authors']))
                    if sim_auth >= 0.1:
                        sim_venue = jaccard_similarity(tokenize(row1['venue']), tokenize(row2['venue']))
                        if sim_venue >= 0.1:
                            print("This is a match!")
                            print(row1["id"])
                            print(row2["id"])

KeyboardInterrupt:

In [41]:
result_blocks_acm[0]

('Block_1',
                             id  \
 486   53e9a301b7602d9702c098fe
 430   53e99d6bb7602d97026235a8
 423   53e99c6eb7602d9702521d3c
 2002  573696106e3b12023e523505
 2004  53e9b2eab7602d9703da7726
 ...                        ...
 162   53e9ab89b7602d9703535b9b
 136   53e9b2e0b7602d9703d9658a
 2061  53e9ac28b7602d97035e8af6
 2092  53e99833b7602d9702058c0e
 1471  53e9a060b7602d9702946a7c

                                                   title  \
 486   OS Support for VLDBs: Unix Enhancements for th...
 430        Managing Video Data in a Mobile Environment.
 423   Data Management Research at The MITRE Corporat...
 2002  Upsizing from File Server to Clent Server Arch...
 2004   Enterprise Transaction Processing on Windows NT.
 ...                                                 ...
 162    To Table or Not to Table: a Hypertabular Answer.
 136   OLAP, Relational, and Multidimensional Databas...
 2061    Query Processing and Optimization in Oracle Rdb
 2092  The Design and Implementation of K: A High-Lev...
 1471  Loading the Data Warehouse Across Various Para...

                                                 authors  year  \
 486               ['John Catozzi', 'Sorana Rabinovici']  1995
 430   ['Rafael Alonso', 'Yuh-Lin Chang', 'Liviu Ifto...  1995
 423   ['Arnon Rosenthal', 'Leonard J. Seligman', 'Ca...  1995
 2002                                ['The Access Team']  1995
 2004                                      ['Greg Hope']  1995
 ...                                                 ...   ...
 162            ['Giuseppe Santucci', 'Laura Tarantino']  1996
 136                                  ['George Colliat']  1996
 2061        ['Gennady Antoshenkov', 'Mohamed Ziauddin']  1996
 2092  ['Yuh-Ming Shyy', 'Javier Arroyo', 'Stanley Y....  1996
 1471                              ['Vijay V. Raghavan']  1996

                   venue
 486                VLDB
 430       SIGMOD Record
 423       SIGMOD Record
 2002  SIGMOD Conference
 2004  SIGMOD Conference
 ...                 ...
 162       SIGMOD Record
 136       SIGMOD Record
 2061            VLDB J.
 2092            VLDB J.
 1471               VLDB

 [324 rows x 5 columns])

In [58]:
result_blocks_acm[0].loc[0, 1:]

AttributeError: 'tuple' object has no attribute 'loc'

In [38]:
def trigram_similarity(str1, str2):
    def get_trigrams(text):
        trigrams = set()
        text = "  " + text + "  "
        for i in range(len(text) - 2):
            trigram = text[i:i+3]
            trigrams.add(trigram)
        return trigrams
    
    trigrams1 = get_trigrams(str1)
    trigrams2 = get_trigrams(str2)

    print(f"Trigrams for {str1}: {trigrams1}")
    print(f"Trigrams for {str2}: {trigrams2}")
    print(len(trigrams1))
    print(len(trigrams2))

    intersection = len(trigrams1.intersection(trigrams2))
    union = len(trigrams1) + len(trigrams2)

    if union == 0:
        return 0.0
    else:
        return 2 * intersection / union

# Example usage
string1 = "hello world"
string2 = "hola mundo"
similarity_score = trigram_similarity(string1, string2)
print(f"\nTrigram Similarity: {similarity_score}")

Trigrams for hello world: {'llo', 'rld', '  h', ' he', ' wo', 'wor', 'o w', 'lo ', 'orl', 'ld ', 'd  ', 'ell', 'hel'}
Trigrams for hola mundo: {' mu', '  h', 'hol', 'o  ', 'la ', 'mun', 'do ', ' ho', 'ola', 'ndo', 'a m', 'und'}
13
12

Trigram Similarity: 0.08

In [39]:
sim = trigram_similarity('Matt Böhm', 'Matt Boehm')
print(sim)

Trigrams for Matt Böhm: {'hm ', ' Ma', 'tt ', 'm  ', ' Bö', 'Mat', 'Böh', 't B', 'att', '  M', 'öhm'}
Trigrams for Matt Boehm: {'Boe', ' Ma', 'hm ', 'tt ', 'm  ', 'oeh', 'Mat', 'ehm', 't B', 'att', '  M', ' Bo'}
11
12
0.6956521739130435

In [40]:
def tokenize(text):
    if isinstance(text, str):
        # Remove brackets and points
        text = text.translate(str.maketrans("", "", string.punctuation))
        
        # Tokenize and convert to uppercase
        return set(nltk.word_tokenize(text.upper()))
    else:
        return set()

In [41]:
def tokenize(text):
    if isinstance(text, str):
        # Remove brackets and points
        text = text.translate(str.maketrans("", "", string.punctuation))
        
        # Tokenize and convert to uppercase
        return set(nltk.word_tokenize(text.upper()))
    else:
        return set()
    
def jaccard_similarity(list1, list2):
    s1 = tokenize(list1)
    s2 = tokenize(list2)
    
    intersection_size = len(s1.intersection(s2))
    union_size = len(s1.union(s2))
    
    # Check if the union is empty to avoid division by zero
    if union_size != 0:
        return float(intersection_size / union_size)
    else:
        # Handle the case where both sets are empty
        return 0.0

In [42]:
sim = jaccard_similarity("Matt Böhm", "Matt Boehm")
print(sim)

0.3333333333333333