In [76]:
import pandas as pd

#DBLP-ACM_perfectMapping.csv
data = pd.read_csv('./data/Matched_Entities_Block_jaccard_title.csv')

# Sort the DataFrame by the first column
sorted_df = data.sort_values(by=data.columns[0])

In [77]:
sorted_df.head()

                                  idDBLP   idACM  Similarity
860                 conf/sigmod/AbadiC02  564770    1.000000
9     conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855    1.000000
494          conf/sigmod/AbiteboulBCMM03  872821    1.000000
2470           conf/sigmod/AbiteboulCM95  223854    0.714286
2148            conf/sigmod/AboulnagaC99  304198    1.000000

In [78]:
len(sorted_df)

2520

In [79]:
threshold = 0.75

In [80]:
filtered_data = sorted_df[sorted_df['Similarity'] >= threshold]

In [81]:
filtered_data

                                  idDBLP   idACM  Similarity
860                 conf/sigmod/AbadiC02  564770         1.0
9     conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855         1.0
494          conf/sigmod/AbiteboulBCMM03  872821         1.0
2148            conf/sigmod/AboulnagaC99  304198         1.0
845             conf/sigmod/AcharyaAFZ95  223816         0.8
...                                  ...     ...         ...
1796             journals/vldb/WhangKW94  615187         1.0
1628              journals/vldb/WhiteD95  191919         1.0
1627              journals/vldb/WhiteD95  615238         1.0
1765               journals/vldb/YangW03  950494         1.0
1442           journals/vldb/ZezulaSAR98  765541         1.0

[2373 rows x 3 columns]

In [82]:
len(filtered_data)

2373

In [83]:
data_mapping = pd.read_csv('./data/DBLP-ACM_perfectMapping.csv')

In [84]:
data_mapping_sorted = data_mapping.sort_values(by=data.columns[0])

In [85]:
data_mapping_sorted.head()

                                 idDBLP   idACM
765                conf/sigmod/AbadiC02  564770
638  conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855
630         conf/sigmod/AbiteboulBCMM03  872821
468           conf/sigmod/AbiteboulCM95  223854
202            conf/sigmod/AboulnagaC99  304198

In [86]:
len(data_mapping_sorted)

2224

In [87]:
compare_columns = ['idDBLP', 'idACM']

In [88]:
merged_df = pd.merge(filtered_data, data_mapping_sorted, on=compare_columns, how='inner')

In [89]:
merged_df

                                  idDBLP   idACM  Similarity
0                   conf/sigmod/AbadiC02  564770         1.0
1     conf/sigmod/AbadiCCCCEGHMRSSTXYZ03  872855         1.0
2            conf/sigmod/AbiteboulBCMM03  872821         1.0
3               conf/sigmod/AboulnagaC99  304198         1.0
4               conf/sigmod/AcharyaAFZ95  223816         0.8
...                                  ...     ...         ...
2089               journals/vldb/WangW01  765508         1.0
2090             journals/vldb/WhangKW94  615187         1.0
2091              journals/vldb/WhiteD95  615238         1.0
2092               journals/vldb/YangW03  950494         1.0
2093           journals/vldb/ZezulaSAR98  765541         1.0

[2094 rows x 3 columns]

In [90]:
tp = len(merged_df)
fp = len(filtered_data) - len(merged_df)
fn = len(data_mapping_sorted) - len(merged_df)

In [91]:
precision = tp/(tp+fp)
recall = tp/(tp+fn)
f_one = 2*((precision*recall)/(precision+recall))

In [92]:
print('The threshold for the Jaccard-Similarity was ' + str(threshold))
print('The precision is: ' + str(precision))
print('The recall is: ' + str(recall))
print('The F1-score is: ' + str(f_one))

The threshold for the Jaccard-Similarity was0.75
The precision is: 0.8824273072060683
The recall is: 0.9415467625899281
The F1-score is: 0.9110289319121166

In [ ]:
# if the result is fine
column_to_drop = 'Similarity'
df_modified = merged_df.drop(column_to_drop, axis=1)
df_modified.to_csv('Matched_Entities.csv', index=False)